---
import '@fontsource/inter/latin-400.css';
import '@fontsource/inter/latin-500.css';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/home/FormattedDate.astro';
import Layout from '../layouts/Layout.astro';
import Comments from '../components/Comments.astro';
type Props = CollectionEntry<'blog'>['data'];
import { RiFacebookFill,RiWhatsappFill,RiPinterestFill,RiTwitterXFill,RiLinkedinFill, RiRedditFill,RiMailFill } from "react-icons/ri";

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;

const url = Astro.url;


---

<Layout title={title} description={description}>
  <section class="py-5 sm:py-10">
    <div class="mx-auto max-w-2xl px-4 sm:px-4 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-10">
        <div class="flex max-w-none flex-col items-start gap-8 sm:gap-10">
          <div class="flex flex-col items-start gap-4 sm:gap-4">
            <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
              {title}
            </h1>
            <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
              {description}
            </p>
            <div class="flex w-full flex-row align-middle">
              <div class="basis-1/2">
                <h1 class="text-md sm:text-md py-3 text-primary-950/70 dark:text-primary-200/70">
                  Created on: <FormattedDate date={pubDate} />
                </h1>
              </div>
              <div class="basis-1/2">
                <dl class="flex flex-wrap py-2">
                  {
                    tags.map((tag) => (
                    <a href=`/tags/${tag}` target="_self" rel="noopener">
                      <button onclick="">
                        <div class="mx-1 my-1 rounded-3xl border border-primary-900/10 px-3 py-1 align-middle dark:border-primary-300/10">
                          <dd class="text-md font-medium tracking-tight">{tag}</dd>
                        </div>
                      </button>
                    </a>
                    ))
                  }
                </dl>
              </div>
            </div>
          </div>
        </div>
        <Image class="h-auto w-full rounded-3xl"
        width="768"
        height="512"
        src={heroImage}
        alt="Hero picture"
          
        />
        <div
          class="prose prose-xl prose-stone prose-red max-w-none dark:prose-invert prose-img:rounded-xl"
        >
          <slot />
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-2xl px-4 sm:px-4 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-10">
        <div class="flex flex-col items-start gap-4 sm:gap-4">
          <div class="flex w-full flex-row align-middle">
            <dl class="flex flex-wrap py-2">
              <a href=`https://www.facebook.com/sharer/sharer.php?u=${url}` target="_blank" rel="noopener">
                <button onclick="">
                  <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-2 py-2 align-middle dark:border-primary-300/10">

                    <RiFacebookFill size="35" />
                  </div>
                </button>
              </a>
              <a href=`https://api.whatsapp.com/send?text=${encodeURIComponent(title)}%20${url}` target="_blank" rel="noopener">
                <button onclick="">
                  <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-2 py-2 align-middle dark:border-primary-300/10">

                    <RiWhatsappFill size="35" />
                  </div>
                </button>
              </a>
              <a href= `https://twitter.com/intent/tweet?url=${url}&text=${encodeURIComponent(title)}` target="_blank" rel="noopener">
                <button onclick="">
                  <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-2 py-2 align-middle dark:border-primary-300/10">

                    <RiTwitterXFill size="35" />
                  </div>
                </button>
              </a>
              <a href=`https://www.pinterest.com/pin/create/button/?url=${url}&description=${encodeURIComponent(title)}` target="_blank" rel="noopener">
                <button onclick="">
                  <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-2 py-2 align-middle dark:border-primary-300/10">

                    <RiPinterestFill size="35" />
                  </div>
                </button>
              </a>
              <a href=`https://www.linkedin.com/sharing/share-offsite/?url=${url}&summary=${encodeURIComponent(title)}` target="_blank" rel="noopener">
                <button onclick="">
                  <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-2 py-2 align-middle dark:border-primary-300/10">

                    <RiLinkedinFill size="35" />
                  </div>
                </button>
              </a>
              <a href=`https://www.reddit.com/submit?url=${url}&title=${title}` target="_blank" rel="noopener">
                <button onclick="">
                  <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-2 py-2 align-middle dark:border-primary-300/10">

                    <RiRedditFill size="35" />
                  </div>
                </button>
              </a>


              <a href=`mailto:?subject=${encodeURIComponent(title)}&body=${url}` target="_blank" rel="noopener">
                <button onclick="">
                  <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-2 py-2 align-middle dark:border-primary-300/10">

                    <RiMailFill size="35" />
                  </div>
                </button>
              </a>
              
              
              
            </dl>
            
          </div>
          
          <Comments/>
        </div>
      </div>
      
    </div>
  </section>
</Layout>
