---
import '@fontsource/inter/latin-400.css';
import '@fontsource/inter/latin-500.css';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/home/FormattedDate.astro';
import Layout from '../layouts/Layout.astro';
import Icons from 'unplugin-icons/vite'

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<Layout title={title} description={description}>
  <section class="py-5 sm:py-10">
    <div class="mx-auto max-w-2xl px-4 sm:px-4 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-10">
        <div class="flex max-w-none flex-col items-start gap-8 sm:gap-10">
          <div class="flex flex-col items-start gap-4 sm:gap-4">
            <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
              {title}
            </h1>
            <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
              {description}
            </p>
            <div class="flex w-full flex-row align-middle">
              <div class="basis-1/2">
                <h1 class="text-md sm:text-md py-3 text-primary-950/70 dark:text-primary-200/70">
                  Created on: <FormattedDate date={pubDate} />
                </h1>
              </div>
              <div class="basis-1/2">
                <dl class="flex flex-wrap py-2">
                  {
                    tags.map((tag) => (
                      <button onclick="">
                        <div class="mx-1 my-1 rounded-3xl border border-primary-900/10 px-3 py-1 align-middle dark:border-primary-300/10">
                          <dd class="text-md font-medium tracking-tight">{tag}</dd>
                        </div>
                      </button>
                    ))
                  }
                </dl>
              </div>
            </div>
          </div>
        </div>
        <img
          class="h-auto w-full rounded-3xl"
          width="768"
          height="512"
          src={heroImage}
          alt="Hero picture"
        />
        <div
          class="prose prose-xl prose-stone prose-red max-w-none dark:prose-invert prose-img:rounded-xl"
        >
          <slot />
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-2xl px-4 sm:px-4 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-10">
        <div class="flex flex-col items-start gap-4 sm:gap-4">
          <div class="flex w-full flex-row align-middle">
            <dl class="flex flex-wrap py-2">
              
              <button onclick="">
                <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-5 py-3 align-middle dark:border-primary-300/10">
                  <dd class="text-md font-medium tracking-tight">F</dd>
                </div>
              </button>
              <button onclick="">
                <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-5 py-3 align-middle dark:border-primary-300/10">
                  <dd class="text-md font-medium tracking-tight">X</dd>
                </div>
              </button>
              <button onclick="">
                <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-5 py-3 align-middle dark:border-primary-300/10">
                  <dd class="text-md font-medium tracking-tight">F</dd>
                </div>
              </button>
              <button onclick="">
                <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-5 py-3 align-middle dark:border-primary-300/10">
                  <dd class="text-md font-medium tracking-tight">X</dd>
                </div>
              </button>
              <button onclick="">
                <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-5 py-3 align-middle dark:border-primary-300/10">
                  <dd class="text-md font-medium tracking-tight">F</dd>
                </div>
              </button>
              <button onclick="">
                <div class="mx-1 my-1 rounded-2xl border border-primary-900/10 px-5 py-3 align-middle dark:border-primary-300/10">
                  <dd class="text-md font-medium tracking-tight">X</dd>
                </div>
              </button>
              
            </dl>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</Layout>
